// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.scarfimage {
  width: 100%;
}
.scarf-name {
  line-height:50px;
  font-size:1.5em;
  font-family:sans-serif;
  margin-right:10px;
}
.item-header {
  width: 100%;
}
.edit-button {
    font-weight: bolder;
    color: green;
    text-decoration: none;
}
.notification-badges {
  li {
    display:inline-block;
    min-width:50px;
    height:25px;
    border:solid 1px #ccc;
    vertical-align:top;
    margin:10px;
    text-align:center;
    font-family:sans-serif;
    line-height:25px;
    padding:5px;
  }
  [data-badge] {
    position:relative;
    &:after {
      position:absolute;
      right:-10px;
      top:-10px;
      min-width:10px;
      min-height:10px;
      line-height:10px;
      padding:5px;
      color:#fff;
      background-color:#bf1f1f;
      font-size:10px;
      font-family:sans-serif;
      border-radius:20px;
      content:attr(data-badge);
      border:solid 1px #c93a3a;
    }
  }
}
